@import "vars"
@import "fonts"
@import "libs"

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

//.grid-items
//	border: 1px solid black

body
	max-width: 1440px
	width: 100%
	margin: auto
	font-size: 18px
	font-family: $font-body

h1, h2, h3, h4, h5, h6
	font-family: $font-heading
	font-weight: 600
	color: $color-neutral-dark

.main-container
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: repeat(3, auto)
	grid-row-gap: $gutter

header
	display: grid
	grid-template-columns: 513px 1fr
	grid-column-gap: 70px
	grid-auto-rows: auto
	background: url("../img/bg-hero-desktop.svg") $color-neutral-pale
	padding: 40px 80px 60px 78px
	.logo
		margin-bottom: 40px
		width: 198px
		padding-top: 10px
	.btn-header
		text-align: right
		font-size: 14px
		button
			height: 48px
			width: 200px
			background: white
			font-weight: bold
			border-radius: 50px
			border: none
			color: $color-neutral-dark
			padding-right: 1px
	.header-text
		display: grid
		grid-template-columns: 1fr
		grid-template-rows: 149px 113px auto
		margin-top: 123px
		h1
			font-size: 40px
			line-height: 150%
		p
			color: $color-neutral-dark
			line-height: 1.5em
		.btn-get
			width: 280px
			height: 56px
			border-radius: 40px
			border: none
			background-color: $color-primary
			color: $color-neutral-pale
			font-size: 15px
	.header-img
		margin-top: 30px
	img
		width: 100%
		height: auto

.content
	display: grid
	grid-template-columns: auto
	grid-row-gap: 38px
	margin: 130px 105px 160px 100px
	.border-sec
		border: 1px solid red
		border-radius: 15px
	.content-item1
		display: grid
		grid-template-columns: 485px 411px
		grid-template-rows: 435px
		grid-column-gap: 190px
		padding-left: 120px
		.sec-item1
			margin-top: 160px
			align-content: start
			h2
				margin-bottom: 20px
				font-size: 1.6em
			p
				line-height: 1.5
		img
			margin: 52px 0 52px 0
			width: 100%
			height: auto
	.content-item2
		display: grid
		grid-template-columns: 480px 411px
		grid-template-rows: 445px
		grid-column-gap: 190px
		img
			width: 100%
			height: auto
	.content-item3
		display: grid
		grid-template-columns: 480px 411px
		grid-template-rows: 435px
		grid-column-gap: 190px
		img
			width: 100%
			height: auto



.attribution
	font-size: 11px
	text-align: center
	&a
		color: hsl(228, 45%, 44%)

@import "media" // Always at the end
